body {
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%) no-repeat;
    height: 100vh;
    padding-bottom: 60px;
}

body {
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%) no-repeat;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.p-top {
    padding-top: 8rem;
}

h1, h2, h3, h4, h5, h6 { color: whitesmoke}
a , span{
    text-decoration: none;
}

span {
    color: whitesmoke;
}

.form-control {
    color: black !important;
}

.container-llmApp {
    min-height: calc(100vh - 60px)
}

.footer-custom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2); /* Optional: semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}