:root {
    --header-height: 50px;
    --footer-height: 50px;
}

body {
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%) no-repeat;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.p-top {
    padding-top: 8rem;
}